fieldset{
   margin: auto;
   margin-top: 100px;
    width:600px;
    height: 500px;
    background-color: #A6A2A2;
}
legend{
   font-weight: bolder;
    text-align: center;
    text-transform: uppercase; 
    font-family: 'Abril Fatface', cursive;
}

form{
    display: grid;
    grid-template-rows: auto;
    gap: 3em;    
}
input[type="submit"]{
    cursor: auto;
    background-color: green;
}