.skills{
    margin-top: 100px;
    margin-left: 100px;
}

section.skills ul li{
    display: block;
    display: list-item;    
   list-style-type: disc;
}

.projects-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
   row-gap: 100px;
}

.projects{
    margin-top: 100px;
    margin-left: 100px;
}

img.projectimg{
    width:400px;
    height:200px;
}
.wrapper{    
    box-shadow: 4px 4px var( --main-bg-color);
    border: 1px dashed black;
    width:400px;  
    
}

.title{
    text-align: center;
}

@media (max-width: 768px){
    .projects-list{
       display: block;       
    }
    .wrapper{
        margin-top: 50px;
    }
    .skills{
        margin-left: 30px;
    }
    .projects{
        margin-left: 30px;
    }
    #space{
        height: 100px;
    }
}